<aside class="col-sm-2">
    <div class="p-4 col-sm-2">
        <button class="font-italic btn btn-lg cust-btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</button>
        <ol class="list-unstyled mb-0 dropdown-menu" aria-labelledby="dropdownMenu2">
            <li class="dropdown-item"><a href="#">Science Fiction</a></li>
            <li class="dropdown-item"><a href="#">Novel</a></li>
            <li class="dropdown-item"><a href="#">Poetry</a></li>
            <li class="dropdown-item"><a href="#">Non Fiction</a></li>
            <li class="dropdown-item"><a href="#">Narrative</a></li>
            <li class="dropdown-item"><a href="#">Biography</a></li>
            <li class="dropdown-item"><a href="#">Short Story</a></li>
            <li class="dropdown-item"><a href="#">Horror Fiction</a></li>
            <li class="dropdown-item"><a href="#">Children's Literature</a></li>
            <li class="dropdown-item"><a href="#">Crime Fiction</a></li>              </ol>
    </div>

    <div class="p-4">
        <button class=" btn btn-lg cust-btn dropdown-toggle font-italic"  type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Popular Now</button>
        <ol class="list-unstyled dropdown-menu"  aria-labelledby="dropdownMenu2">
            <li class="dropdown-item"><a href="#">The Alchemist</a></li>
            <li class="dropdown-item"><a href="#">Who Moved My Cheese</a></li>
            <li class="dropdown-item"><a href="#">Out of the Maze</a></li>
        </ol>
    </div>
</aside><!-- /.blog-sidebar -->