<%- include("partials/header"); %>
<div class="container">
    <div class="row mb-2 p-4 p-md-5 shadow p-3 mb-5 bg-white rounded">
            <div class="col-md-5">
                <img src="images/who_moved_my_cheese.jpg" alt="who_moved_my_cheese" height="250" width="200">
            </div>
            <div class="col-md-5">
                <h1 class="mb-0">Out of the Maze</h1>
                <h4 class="text-muted">Dr. Spencer Johnson</h4>
                <div class="text-muted m-t-140">Category: Non-Fiction</div>
            </div>

        <%- include("partials/sidebar"); %>
    </div>

    <div class="row mb-2 p-4 p-md-5 shadow p-3 mb-5 bg-white rounded">
        <div class="col-sm-2">
            <img  class="rounded-circle m-r-10" src="images/spencer_johnson.jpg" alt="who_moved_my_cheese" height="200" width="150">
        </div>
        <div class="col-md-8">
            <h4 class="text-muted">Dr. Spencer Johnson</h4>
            <p>Patrick Spencer Johnson (November 24, 1938 – July 3, 2017) was an American physician and author, known for the ValueTales series of children's books, and for his 1998 motivational book Who Moved My Cheese?, which recurred on the New York Times Bestseller list, on the Publishers Weekly Hardcover nonfiction list. Johnson was chairman of Spencer Johnson Partners.
                Johnson also wrote the book "Yes" or "No": The Guide to Better Decisions (1992). He co-authored the One Minute Manager series of books with management writer Ken Blanchard, though each author has added their own books to the series. His latest book is Peaks And Valleys.</p>
        </div>

    </div>

</div>
<%- include("partials/footer"); %>