<%- include("partials/header"); %>
<div class="row mb-2 p-4 p-md-5">
    <div class="col-md-5">
        <img src="images/who_moved_my_cheese.jpg" alt="who_moved_my_cheese" height="250" width="200">
    </div>
    <div class="col-md-5">
        <h1 class="mb-0">Out of the Maze</h1>
        <h4 class="text-muted">Dr. Spencer Johnson</h4>
        <div class="text-muted m-t-140">Category: Non-Fiction</div>
    </div>
    <%- include("partials/sidebar"); %>
</div>
<%- include("partials/footer"); %>